

*{    
    margin: 0; 
    padding: 0;
    box-sizing: border-box;    
    text-decoration: none;
    outline: none;border: none;  
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(254, 255, 236);    
}

.container{
    text-align: center;
    width: 360px;
    padding: 5%;
}

header h1{
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.2rem;
}

header h2{
    margin-top: 1.5rem;
    font-size: 0.9rem;
}
header h2 span{
    font-size: 1.2rem;
    font-weight: bold;
    color: tomato;
}

section{    
    /* background: rgb(167, 24, 24);    */
    height: auto;    
}

.products {
    margin-top: 1rem;
}

.product-items{
    display: flex;
    flex-direction: column;
}

.product-content{    
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 219, 219);
    border: 1px black solid;
    padding: 3px 5px; 
    margin: 0.2rem;
    align-items: center;
}

.product-items select{    
    padding: 2px;
    width: 150px;
    height: 25px;
    border: 1px black solid;    
}

.product-items .lbl_units{
    margin-left: 10px;
    padding: 2px;
    width: 40px;
    height: 30px;
    border: 1px black solid;
    background-color: rgb(223, 223, 223);
    
}

.product-items .qty{
    margin-left: 10px;
    padding: 2px;
    width: 50px;
    height: 30px;
    border: 1px black solid;     
}

.product-items .lbl_total_cost{
    margin-left: 10px;
    padding: 2px;
    width: 60px;
    height: 30px;
    border: 1px black solid;
    background-color: rgb(223, 223, 223);    
}

.buttons_line{
    display: flex;
    justify-content: center;  
     
}

.btn{
    display: inline-block;    
    text-transform: uppercase;
    margin: 1rem 1rem;    
    padding: 0.5rem 0.8rem;
    border: 1px rosybrown solid;
    border-radius: 5rem;    
    font-size: 1rem;
}  

.calc_btn{
    display: inline-block;    
    text-transform: uppercase; 
    padding: 0.5rem 2rem;
    border: 1px rosybrown solid;
    border-radius: 1rem;    
    font-size: 0.7rem;
    background-color: rgb(255, 219, 219);
    letter-spacing: 0.2rem;

}